.tab-buttons button {
  margin: 5px;
  padding: 10px;
}

.tab-content {
  display: none;
}

.sub-tab-buttons button {
  margin: 5px;
  padding: 5px;
}

.sub-tab-content {
  display: none;
}

.image-row img {
  width: 100px;
  margin-right: 10px;
}
